<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        {{header}}
    </p>
    <p>
        to send messegaes to him/het write your messege in the box below:
    </p>
    <form action="message" method="POST">
        <p>
            <textarea disabled name="messbox" id="" cols="30" rows="10" style="padding-left: 0%;">{{received}}</textarea>
        </p>
        <p>
            <input type='text' name="message" id="">
        </p>
        <p>
            <input type="submit" name="send" value="send">
        </p>
    </form>
</body>
</html>